<% provide(:title, "ジャンル編集") %>

<div class="col-md-4 offset-md-2 my-5">
  <span class="px-4" style="font-size: 30px; background-color: #d3d3d3">ジャンル編集</span>
</div>

  <%# if @genre.errors.any? %>
    <%#= render "layouts/error_messages", resource: @genre %>
  <%# end %>

  <div class="col-md-10 offset-2"></div>
  <%= form_with model: @genre, url: edit_admin_genre_path, local:true do |f| %>
  <div>
    ジャンル
      <%= f.text_field :name  %>
      <%#= f.radio_button :is_valid, true %>
      <%#= f.label :is_valid, "有効", {value: :true, style: "display: inline-block;"} %>
      <%#= f.radio_button :is_valid, false %>
      <%# f.label :is_valid, "無効", {value: :false, style: "display: inline-block;"} %>
      <%= f.submit "変更を保存する", class: "btn btn-info" %>
    </div>
  <% end %>
<br>
  <div class="col-xs-12">
    <%= link_to "戻る", admin_genres_path, class: "glyphicon glyphicon-home btn btn-info" %>
  </div>