<div class="container">
  <h1 class="text-center m-4">退会フォーム</h1>
  <div class="w-50 mx-auto">
    <p class="text-center mb-4">退会する場合は「退会する」を押してください</p>
    <div class="d-flex justify-content-center">
      <div>
        <%= link_to "退会する", out_customer_path(@customer), method: :patch, class: "btn btn-danger mr-3" %>
      </div>
      <div>
        <%= link_to "退会しない", customer_path(@customer), class: "btn btn-primary ml-3" %>
      </div>
    </div>
  </div>
</div>