ordersindex
<% provide(:title, "注文履歴一覧") %>
<div class="container">
  <div calss="row">
    <div class="col">
      <h2 class="head-line title_h2 text-center">注文履歴一覧</h2>
      <%= render "admin_index", orders: @orders %>
      <%= render "user_index", orders: @orders %>
    </div>
  </div>
</div>