<table class='table table-hover table-inverse'>
  <thead>
    <tr>
      <th>郵便番号</th>
      <th>住所</th>
      <th>宛名</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody class="border">
    <% addresses.each do |address| %>
      <tr>
        <td class="border"><%= address.postal_code %></td>
        <td class="border"><%= address.address %></td>
        <td class="border"><%= address.name %></td>
        <td>編集</td>
        <td>削除</td>
      </tr>
    <% end %>
  </tbody>
</table>