<div class='col-md-6 offset-md-1'>
  <h1 class="py-5">配送先情</h1>
  <%= render 'addresses/form', address: @address %>

  <h1 class="py-5">配送先情報一覧</h1>
  <%= render 'addresses/index_addresses', addresses: @addresses %>
</div>