<link href='#'>
    <div class="container">
	    <div class="row" >
        <div class= "col text-center">
          <h1>About</h1>
          <p>
           長野県発祥のケーキ屋。<br>
           地元の方々と協力し素材を集め、自社工場で作ることにこだわりを見せています。<br>
           皆様に最高の時間を約束しましょう<br>
           <a>Let's Go  <%#= link_to "Sign_up", new_customer_registration_path %>!!<br>
          </p>
          <div>
            <img src="https://picsum.photos/200/301/?random">
            <img src="https://picsum.photos/200/302/?random">
            <img src="https://picsum.photos/200/303/?random">
            <img src="https://picsum.photos/200/304/?random">
            <img src="https://picsum.photos/200/305/?random">
          </div>
        </div>
      </div>
    </div>
        
