<div class='col-md-8 mx-auto'>

	<% @products.each do |product| %>

		<%= attachment_image_tag(@product, :image, fallback: "no-image-icon.jpg", class: "product_image", style: "width: 100%; height: 70%") %>

	<% end %>

</div>