<h1>productsindex</h1>
<div class="container">
  <div class="row">
	<div class="col-xs-10 col-xs-offset-1">
		<h2>商品一覧
		  <span>
			  (全<%#= @products.total_count %>件中　<%#= @products.count %>件)
		  </span>
		</h2>
				<%# @products.each do |product| %>
				<%# end %>
			<div class="a"></div>	
			<div class="a"></div>	
			<div class="a"></div>	
			<div class="a"></div>	
			<div class="a"></div>	
			<div class="a"></div>	
			<div class="a"></div>	
			<div class="a"></div>	

			<div class="text-center"><%#= paginate(@products) %></div>
	</div>
</div>